{% extends 'base.html' %} {% block content %} {% if user.is_authenticated %}
<table class="table table-dark table-striped mt-5 table-hover table-bordered">
  <thead class="table-light">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Type</th>
      <th scope="col">Address</th>
      <th scope="col">Phone</th>
      <th scope="col">Created at</th>
    </tr>
  </thead>
  <tbody>
    {%if restaurants %} {% for restaurant in restaurants%}
    <tr>
      <td>
        <a class="text-light" href="{% url 'restaurant' restaurant.id %}"
          >{{restaurant.rest_name}}</a
        >
      </td>
      <td>{{restaurant.cuisine}}</td>
      <td>{{restaurant.address}}</td>
      <td>{{restaurant.phone}}</td>
      <td>{{restaurant.created_at}}</td>
      {% endfor %} {% endif %}
    </tr>
  </tbody>
</table>

{% else %}
<div class="col-md-6 offset-md-3 mt-3 mb-5 text-bg-dark p-3">
  <h1>Login</h1>
  <form method="POST" action="{% url 'home' %}">
    {% comment %} Cross-Site Request Forgery (CSRF) token and is a security
    measure to protect against CSRF attacks. {% endcomment %} {% csrf_token %}

    <div class="mb-5 mt-3">
      <input
        name="username"
        placeholder="username"
        type="text"
        class="form-control"
        required
      />
    </div>
    <div class="mb-4 mt-3">
      <input
        name="password"
        placeholder="password"
        type="password"
        class="form-control"
        required
      />
    </div>
    <div class="flex text-center">
      <button type="submit" class="btn btn-success">Login</button>
    </div>
  </form>
</div>

<table class="table table-dark table-striped table-hover table-bordered">
  <thead class="table-light">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Type</th>
      <th scope="col">Address</th>
      <th scope="col">Phone</th>
    </tr>
  </thead>
  <tbody>
    {%if restaurants %} {% for restaurant in restaurants%}
    <tr>
      <td>{{restaurant.rest_name}}</td>
      <td>{{restaurant.cuisine}}</td>
      <td>{{restaurant.address}}</td>
      <td>{{restaurant.phone}}</td>
      {% endfor %} {% endif %}
    </tr>
  </tbody>
</table>
{% comment %}
<div class="mt-5">
  <h1>Restaurants</h1>
  <ul class="list-group">
    {% for restaurant in restaurants %}

    <li class="list-group-item list-group-item-dark">
      {{restaurant.rest_name}}
    </li>

    {% endfor %}
  </ul>
</div>
{% endcomment %} {% endif %} {% endblock %}
